[project]
name = "jsm-helpdesk-inbox"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "fastapi[standard]>=0.119.0",
    "langchain[google-genai]>=0.3.27",
]
